<%- include("partials/head") %>
    <%- include("partials/navbar") %>

        <div class="container mt-5">
            <div class="row mb-5">
                <div class="col-12">
                    <h1>
                        <%= player.name %>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Profile information:</h5>
                            <p class="ms-3 mt-3"><strong>Name:</strong>
                                <%= player.name %>
                            </p>
                            <p class="ms-3"><strong>Email:</strong>
                                <%= player.name %>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Player Type:</h5>
                            <form class="text-center" action="<%= player._id %>/commend" method="post" <%= player._id == user._id ? 'hidden' : ''%>  >
                                <button class="btn btn-primary" name="commendation" value="teamPlayer"
                                    type="submit" <%= typeof disableButtons !== 'undefined' ? 'disabled' : '' %> >Team player</button>
                                <button class="btn btn-primary" name="commendation" value="strategicExpert"
                                    type="submit" <%= typeof disableButtons !== 'undefined' ? 'disabled' : '' %> >Strategic expert</button>
                                <button class="btn btn-primary" name="commendation" value="communicator"
                                    type="submit" <%= typeof disableButtons !== 'undefined' ? 'disabled' : '' %> >Communicator</button>
                            </form>
                            <!-- pie chart -->
                            <canvas id="playerChart" width="400" height="400"></canvas>
                            <div id="playerData" data-teamPlayer="<%= player.commendations.teamPlayer %>"
                                data-strategicExpert="<%= player.commendations.strategicExpert %>"
                                data-communicator="<%= player.commendations.communicator %>">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
            const chart = document.getElementById('playerChart');

            const playerData = document.getElementById('playerData');
            const teamPlayer = parseInt(playerData.getAttribute('data-teamPlayer'), 10);
            const strategicExpert = parseInt(playerData.getAttribute('data-strategicExpert'), 10);
            const communicator = parseInt(playerData.getAttribute('data-communicator'), 10);

            const data = {
                labels: [
                    'Team player',
                    'Strategic expert',
                    'Communicator'
                ],
                datasets: [{
                    data: [
                        teamPlayer,
                        strategicExpert,
                        communicator
                    ],
                    backgroundColor: [
                        'rgb(54, 162, 235)',
                        'rgb(75, 192, 192)',
                        'rgb(153, 102, 255)',
                    ],
                }]
            };
            const playerChart = new Chart(chart, { type: 'pie', data: data });
        </script>


        <%- include("partials/footer") %>