<%- include("partials/head") %>
  <%- include("partials/navbar") %>

    <div class="container mt-5">
      <div class="row mb-5">
        <div class="row">
          <h1 class="col-2"> Profile</h1>
          <div class="col-7"></div>
          <div class="col-2 my-auto">
            <a class="btn btn-danger" href="/logout">Sign out</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mt-5">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Profile information:</h5>
              <p class="ms-3 mt-3"><strong>Name:</strong>
                <%= user.name %>
              </p>
              <p class="ms-3"><strong>Email:</strong>
                <%= user.email %>
              </p>
              <p class="ms-3 my-auto"><strong>Password:</strong>
                <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#passwordChangeModal">
                  Change your password
                </button>
              </p>
            </div>
            <div class="card-footer text-end">
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal">
                Delete Profile
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Player Type:</h5>
              <!-- pie chart -->
              <canvas id="playerChart" width="400" height="400"></canvas>
              <div id="playerData" data-teamPlayer="<%= user.commendations.teamPlayer %>"
                data-strategicExpert="<%= user.commendations.strategicExpert %>"
                data-communicator="<%= user.commendations.communicator %>">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include("modals/deleteUserModal") %>
      <%- include("modals/changePasswordModal") %>
        <%- include("partials/footer") %>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

          <script>
            const chart = document.getElementById('playerChart');

            const playerData = document.getElementById('playerData');
            const teamPlayer = parseInt(playerData.getAttribute('data-teamPlayer'), 10);
            const strategicExpert = parseInt(playerData.getAttribute('data-strategicExpert'), 10);
            const communicator = parseInt(playerData.getAttribute('data-communicator'), 10);

            const data = {
              labels: [
                'Team player',
                'Strategic expert',
                'Communicator'
              ],
              datasets: [{
                data: [
                  teamPlayer,
                  strategicExpert,
                  communicator
                ],
                backgroundColor: [
                  'rgb(54, 162, 235)',
                  'rgb(75, 192, 192)',
                  'rgb(153, 102, 255)',
                ],
              }]
            };
            const playerChart = new Chart(chart, { type: 'pie', data: data });
          </script>